
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Kanit', sans-serif;
}

@layer base{
  body{
    @apply bg-[#21232F] scroll-smooth;
  }
}

.logo{
  width: 40%;
  margin: 20px;
}
